@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap');

:root {
background-color: rgb(4, 216, 198);
}

*{
    font-family: 'Orbitron', sans-serif;
}
h1{
    font-size: 5rem;
    color: rgb(3, 182, 27);
    text-shadow: 1px 1px #19255e;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0% auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.btn{
    color: rgb(6, 25, 110);
    font-size: 3rem;
    text-decoration: none;
    padding: 1.5rem 0;
    width: 35rem;
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, rgb(72, 150, 13) 0%, rgba(16,209,70,1) 100%, rgba(51,212,235,1) 100%);
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem;
    opacity: 80%;
    transition: transform 100ms;
    transform: scale(1.05);

}

/* Game Page CSS */
.choice-container {
    display: flex;
    background: #fff;
    margin-bottom: 0.2rem;
    width: 100%;
    border-radius: 8px;
    font-size: 1.5rem;
    min-width: 80rem;
}
.hud-main-text{
    font-size: 2rem;
    padding-left: 2rem;
    
}
#question{

    font-size: 150%;
    color: rgb(3, 182, 27);
    text-shadow: 1px 1px #19255e;
    font-weight: 1000;
    padding-bottom: 2rem;
}
.hud-item h1,
.hud-item p {
    display: inline;
}

.hud-item{
    padding-bottom: 2rem;
}

.hud-prefix{

    font-size: 110%;
    font-weight: 1000;
    padding-left: 2rem;
    
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 rgb(71, 23, 23);
    transform: scale(1.03);
}

.choice-prefix{
    padding: 1.8rem 2.2rem;
}

.choice-text{
    padding: 1.8rem;
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.text-center{
    text-align: center;
}
.hidden{
    display: none;
}

.correct {
    background-color: rgb(71, 226, 10);
}

.incorrect {
    background-color: rgb(192, 62, 11);
}

#progress{
    width: 25rem;
    height: 3rem;
    border: 0.3rem solid #fff;
    border-radius: 40px;
    overflow: hidden;
    margin-top: 1rem;
}

#progressFull
{
    height: 100%;
    width: 0%;
    background:rgb(71, 226, 10) ;
}


@media screen and (max-width: 1500px){
    .choice-container{
    min-width: 50rem;
    }
    .container{
        width: 100%;
        }
    .question {
        min-width: 10rem
    }
}
@media screen and (max-width: 950px){
    .choice-container{
    min-width: 35rem;
    }

        .container{
    min-width: 25rem;
    }
    .question {
        min-width: 10rem
    }
}
